# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
env/
venv.bak/


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# IDE files (VSCode, PyCharm, etc.)
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Ignore mypy cache
.mypy_cache/
.dmypy.json
dmypy.json


